body {
    background-image: url("../imgs/imagem_fundo.png");
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: "PT Sans Narrow";
    font-size: 50px;
}

header {
    background: linear-gradient(to right, #ffd426, #eaff00, #ffd426);
    animation: moverDegrade 4s infinite alternate;
    background-size: 200% 200%;
}

@keyframes moverDegrade {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

ul {
    text-align: center;
    gap: 200px;
    display: flex;
    justify-content: center;
}

li {
    display: inline-block;
    justify-content: center;
    font-family: "Teko";
    font-size: 30px;
}



a:link {
  color: purple;
  text-decoration: none;
}

a:visited {
  color: darkgoldenrod;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: blue;
  text-decoration: underline;
}

.pt-sans-narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-narrow-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.carta {
  background-image: url("../imgs/carta.png");
  width: 180px;
  height: 250px;
  background-size: contain;
  position: relative;
}

.foto {
  position: relative;
  display: auto;
  top: 12px;
  left: 18px;
  width: 150px;
}

.posicao {
  position: absolute;
  top: 35px;
  left: 20px;
}

.overall {
  position: absolute;
  top: 55px;
  left: 20px;
}

.bandeira {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 170px;
  left: 20px;
}

.liga {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 170px;
  left: 100px;
}

main {
  background-color: #c0c0c067;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

#campo {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: 150px 1fr 150px 1fr 150px 1fr 150px 2fr 400px;
  padding: 50px;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

#gk {
  grid-column: 3;
  grid-row: 9;
}

#zga {
  grid-column: 2;
  grid-row: 7;
}

#zgb {
  grid-column: 4;
  grid-row: 7;
}

#laa {
  grid-column: 1;
  grid-row: 7;
}

#lab {
  grid-column: 5;
  grid-row: 7;
}

#cmd {
  grid-column: 3;
  grid-row: 5;
}

#cma {
  grid-column: 2;
  grid-row: 3;
}

#cmb {
  grid-column: 4;
  grid-row: 3;
}

#pe {
  grid-column: 1;
  grid-row: 1;
}

#pd {
  grid-column: 5;
  grid-row: 1;
}

#at {
  grid-column: 3;
  grid-row: 1;
}